nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(59, 59, 59);
    font-family: "Roboto", sans-serif;
}

.logo img {
    width: 50px;
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links a {
    text-decoration: none;
    color: rgb(225, 225, 225);
    font-size: 17px;
}
.nav-links .selected {
    color: #DBA5A5;
}


.burguer {
    display: none;
    cursor: pointer;
}
.burguer div {
    background-color: rgb(225, 225, 225);
    width: 23px;
    height: 3px;
    margin: 5px;
}


/* 799 PX */
@media screen and (max-width: 799px) {
    .burguer {
        display: block;
    }
    .nav-links {
        display: none;
    }
}


/* 1113 PX */
@media screen and (max-width: 1113px) {
    .nav-links {
        width: 76%;
    }
}

