body {
    counter-reset: dt_howitworks;
}

.howitworks {
    background-color: white;
    width: 100%;
    height: auto;
    font-family: Helvetica, 'Roboto', sans-serif;
    margin-top: 130px;
    margin-bottom: 60px;
    color: #3b3b3b;
}
.howitworks h3 {
    font-size: 64px;
    padding-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: bold;
}
.howitworks p {
    font-size: 20px;
    width: 50%;
    margin-left: 25%;
    line-height: 160%;
    margin-bottom: 90px;
}
.howitworks dl {
    margin-left: 30%;
    width: 40%;
}
.howitworks dt {
    font-size: 32px;
    margin-top: 49px;
    font-weight: bold;
    line-height: 1.375;
}
.howitworks dt::before {
    float: left;
    display: block;
    counter-increment: dt_howitworks;
    content: counter(dt_howitworks);
    width: 10%;
    font-size: 70px;
    margin-top: -13px;
}
.howitworks dd {
    font-size: 20px;
    line-height: 130%;
}


@media screen and (max-width: 779px) {
    .howitworks {
        margin-top: -280px;
    }
}


@media screen and (max-width: 1113px) {
    .howitworks {
        margin-top: -70px;
    }
}